@using DutyPlan.Common.DB
<div class="col-xs-2 dms2">
    <div>
        <table class="tableDms tableDms2" style="margin-left:2px">
            <tbody>
                <tr>
                    <th class="thspecial">Product</th>
                    <th>
                        Task<br />
                        time
                    </th>
                    <th>WS1</th>
                    <th>WS2</th>
                    <th>WS3</th>
                </tr>
                <tr>
                    <td rowspan="4"><p>P07A</p></td>
                    <td rowspan="2">08:45</td>
                    @for (var i = 11; i < 14; i++)
                    {
                        var id = "dt" + i;
                        <td rowspan="2" class="tdimg"><img id="@id" src="@OperationDb.GetlocationById(id)" /></td>
                    }

                </tr>
                <tr></tr>
                <tr>
                    <td rowspan="2">13:00</td>
                    @for (var i = 14; i < 17; i++)
                    {
                        var id = "dt" + i;
                        <td rowspan="2" class="tdimg"><img id="@id" src="@OperationDb.GetlocationById(id)" /></td>
                    }
                </tr>
                <tr></tr>
                <tr>
                    <td rowspan="2"><p>P09</p><p>ALC</p></td>
                    <td rowspan="2">Random</td>
                    @for (var i = 17; i < 20; i++)
                    {
                        var id = "dt" + i;
                        <td rowspan="2" class="tdimg"><img id="@id" src="@OperationDb.GetlocationById(id)" /></td>
                    }
                </tr>
                <tr></tr>
                <tr>
                    <td rowspan="4"><p>P07B</p></td>
                    <td rowspan="2">08:45</td>
                    <td rowspan="2" class="tdimg"><img id="dt20" src="@OperationDb.GetlocationById("dt20")" /></td>
                    <td colspan="2" class="specialTd specialTdDmsTestLine2">DMS Asm <abbr style="color:#000000;float:right">@OperationDb.GetbyGroup("dmsAsm") &nbsp;</abbr></td>
                </tr>
                <tr>
                    <td class="specialTd">CPL</td>
                    <td class="specialTd">PPL</td>
                </tr>
                <tr>
                    <td rowspan="2">13:00</td>
                    @for (var i = 21; i < 24; i++)
                    {
                        var id = "dt" + i;
                        <td rowspan="2" class="tdimg"><img id="@id" src="@OperationDb.GetlocationById(id)" /></td>
                    }
                </tr>
                <tr></tr>
            </tbody>
        </table>
    </div>
</div>

